<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="<!--{$seo.seo_descript}-->">
<meta name="Keywords" content="<!--{$seo.seo_keywords}-->">
<title><!--{$seo.seo_title}-->-<!--{language_cp str='emailsend'}--></title>
<link rel="stylesheet" type="text/css" href="<!--{getstaticpath}-->style/style.css" />
</head>
<body>
<!--头部-->
<!--{include file="common/header.html"}-->
<div class="page">
  <div class="con">
    <div class="con_left wt7">
      <div class="con_leftop"> </div>
      <div class="con_leftom" style="position:relative;">
        <div class="box">
           <h1 class="bod"><!--{language_cp str='emailsend'}--></h1>
		   <form action="" method="post" name="sendrss">
		   <div class="eBox">
		     <p class="welcome_title"> <!--{language_cp str='every_day_email'}-->。</p>
             <div class="mail">
			   <div class="mail_L">
			     <label><!--{language_cp str='email_address'}-->：</label>
                  <input type="text" size="20" value="" class="f_input" name="email">
                  <span class="tips"><!--{language_cp str='hate_spam'}--></span>
			   </div>
			   <div class="mail_R">
			      <label id="enter-address-city-label"><!--{language_cp str='cityplease'}-->：</label>
                      <select style="" class="f_city" name="cityid">
					  <!--{section name=loop loop=$citydata }-->
                         <option value="<!--{$citydata[loop].id}-->"><!--{$citydata[loop].city_name}--></option>
						 <!--{/section}-->
					  </select>
                                &nbsp;&nbsp;<input type="submit" value="<!--{lang_cp str='subscribe'}-->" class="btn02"><span class="tips"><a href="?tg=/aboutinfo/subscribenewcity"><!--{language_cp str='noyourcity'}-->？</a></span>			   </div>
			 
			 </div>
		   </div>
		   </form>
        </div>
      </div>
	  
	  	  <div class="intro">
		<!--{language_cp str='high_quality_goods_every_day'}-->
	</div>	  
	  
      <div class="con_lefter"> </div>
    </div>
	<div class="con_right">
	   <div class="m_r">
	     <a href="/"><img src="<!--{getstaticpath}-->/images/sidebar-yuncheng-open.png" width="230" height="80"/></a>
	    </div>
	</div>
  </div>
</div>
<div class="clera"></div>
<!--底部-->
<!--{include file="common/footer.html"}-->
</body>
</html>
