<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />
<!--{include file="common/common.html"}-->
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" name="theform" id="theform">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>1.<!--{lang_cp str="login_info"}--></h2></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40" class="biaoge"><!--{lang_cp str="username"}--></td>
      <td><input name="seller_user_name" type="text" class="required" id="seller_user_name" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="password"}--></td>
      <td><input name="seller_user_pass" type="text" class="required" id="seller_user_pass" size="45"></td>
    </tr>
  </table><p>
  
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>2.<!--{lang_cp str="markup_info"}--></h2></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40" class="biaoge"><!--{lang_cp str="city_and_cate"}--></td>
      <td><label>
		<select name="seller_city_id" id="seller_city_id">
          <!--{section name=loop loop=$bscity}-->
          <option value="<!--{$bscity[loop].id}-->">
          <!--{$bscity[loop].city_name}-->
          </option>
          <!--{/section}-->
        </select>	
      </label>-
      <label>
        <select name="seller_class_id" id="seller_class_id">
          <!--{section name=loop loop=$bsclass}-->
          <option value="<!--{$bsclass[loop].id}-->">
          <!--{$bsclass[loop].class_name}-->
          </option>
          <!--{/section}-->
        </select>
      </label></td>
    </tr>

	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="business"}--><!--{lang_cp str="pic"}--></td>
      <td><label>
        <input id="seller_pic" type="file" name="seller_pic" class="required" size="45"/>
        <br><!--{lang_cp str="markup2"}--></label></td>
    </tr>
  </table>
   
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>3.<!--{lang_cp str="basic_info"}--></h2></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="business"}--><!--{lang_cp str="name"}--></td>
      <td><input name="seller_name" type="text" class="required" id="seller_name" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="website"}--><!--{lang_cp str="address"}--></td>
      <td><input name="seller_url" type="text" class="required" id="seller_url" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="contacts"}--></td>
      <td><input name="seller_contact" type="text" class="required" id="seller_contact" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="telephone"}--></td>
      <td><input name="seller_phone" type="text" class="required" id="seller_phone" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="business"}--><!--{lang_cp str="address"}--></td>
      <td><input name="seller_address" type="text" class="required" id="seller_address" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="m_phone"}--></td>
      <td><input name="seller_mobile" type="text" class="required" id="seller_mobile" size="45"></td>
    </tr>
	<tr>
      <td width="8%" height="214" valign="top" class="biaoge"><label>
        <!--{lang_cp str="l_info"}-->
        </label></td>
      <td valign="top" align="left">
		<textarea name="seller_position" id="seller_position" style="display:none;"></textarea>
		<iframe id="tgedit" name="tgedit" src="templates/admin/TGEditor/Edit/editor.htm?id=seller_position&ReadCookie=0" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No" width="700" height="150"></iframe>
      </td>
    </tr>
	<tr>
      <td width="8%" height="214" valign="top" class="biaoge"><label>
        <!--{lang_cp str="o_info"}-->
        </label></td>
      <td valign="top" align="left">
		<textarea name="seller_other" id="seller_other" style="display:none;"></textarea>
		<iframe id="tgedit" name="tgedit" src="templates/admin/TGEditor/Edit/editor.htm?id=seller_other&ReadCookie=0" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No" width="700" height="100"></iframe>
      </td>
    </tr>
	<tr>
      <td width="8%" height="214" valign="top" class="biaoge"><label>
        <!--{lang_cp str="o_info"}-->
        </label></td>
      <td valign="top" align="left">
		<textarea name="seller_else" id="seller_else" style="display:none;"></textarea>
		<iframe id="tgedit" name="tgedit" src="templates/admin/TGEditor/Edit/editor.htm?id=seller_else&ReadCookie=0" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No" width="700" height="100"></iframe>
      </td>
    </tr></table>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>4.<!--{lang_cp str="b_info"}--></h2></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40" class="biaoge"><!--{lang_cp str="banker"}--></td>
      <td><input name="seller_bank_open" type="text" class="required" id="seller_bank_open" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="account_name"}--></td>
      <td><input name="seller_bank_name" type="text" class="required" id="seller_bank_name" size="45"></td>
    </tr>
	<tr>
      <td height="40" class="biaoge"><!--{lang_cp str="bank_account"}--></td>
      <td><input name="seller_bank_account" type="text" class="required" id="seller_bank_account" size="45"></td>
    </tr>
  </table>
  
  
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="52" valign="top" class="biaoge">&nbsp;</td>
      <td align="left" valign="middle"><input type="submit" id="submit" name="Submit" value="<!--{lang_cp str='submit'}-->">
        <input type="reset" name="" value="<!--{lang_cp str='reset'}-->"></td>
    </tr>
  </table>
</form>
<script type="text/javascript">
$("#submit").click(function(){
//要做此操作,否则第一次提交无法判断其有值,xiezhanhui2011-3-16
    window.frames["tgedit"].AttachSubmit();
});
</script>
</body>
</html>
