<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />
<!--{include file="common/common.html"}-->
<script src="static/js/window.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form method="post" action="" name="theform">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>
          <!--{lang_cp str="list"}-->
        </h2></td>
      <td width="23%" >
	  <a href="./admin.php?tg=/footernavadd/"><!--{lang_cp str="add"}--></a>
	  </td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="biaoti bg">
      <td width="8%"><div align="center">ID</div></td>
      <td width="10%"><div align="center">
        <!--{lang_cp str="type"}-->
      </div></td>      
      <td width="10%"><div align="center">
        <!--{lang_cp str="nav_name"}-->
      </div></td>
	  <td width="10%"><div align="center">
	    <!--{lang_cp str="nav_link"}-->
      </div></td>
	  <td width="10%"><div align="center">
	    <!--{lang_cp str="nav_time"}-->
      </div></td>
      <td width="22%"><div align="center">
        <!--{lang_cp str="operate"}-->
      </div></td>
    </tr>
    <!--{section name=loop loop=$nav_list}-->
    <tr class="biaoti">
      <td width="10%"><div align="center">
	  <!--{$nav_list[loop].id}-->
      </div></td>
      <td width="10%"><div align="center">
	  <!--{if $nav_list[loop].fid eq 0}--><!--{lang_cp str="big_class"}--><!--{else}--><!--{$nav_list[loop].nav_f_title}--><!--{/if}-->
      </div></td>      	
      <td width="10%"><div align="center">
	  <!--{$nav_list[loop].foot_nav_title}-->
      </div></td>
      <td width="10%"><div align="center">
        <!--{$nav_list[loop].foot_nav_link}-->
      </div></td>
      <td width="10%"><div align="center">
        <!--{$nav_list[loop].foot_nav_pubtime|date_format:"Y-m-d"}-->
      </div></td> 	 
      <td width="10%"><div align="center">
	   <a href='./admin.php?tg=/footernavedit/id/<!--{$nav_list[loop].id}-->'>
	  <!--{lang_cp str="editor"}--></a>  / 
	  <a onClick="return confirm('<!--{lang_cp str="confirm_delete"}-->')" href='./admin.php?tg=/footernavdelete/id/<!--{$nav_list[loop].id}-->'>
        <!--{lang_cp str="del"}-->
      </a>        
      </div></td> 	   	  
    </tr>
    <!--{/section}-->
    <tr>
      <td colspan="4">
        
        <div align="left">
          <!--{page2html str=$pageList}-->
        </div></td>
    </tr>
  </table>
</form>
</body>
</html>
