<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />
<!--{include file="common/common.html"}-->
</head>
<body>
<form method="post" action=" " name="form">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><h2><!--{lang_cp str="list"}--></h2></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="biaoti bg">
      <td width="10%">ID</td>
      <td width="10%"><!--{lang_cp str="username"}--></td>
	  <td width="20%"><!--{lang_cp str="message_tg"}--></td>
	  <td width="10%"><!--{lang_cp str="telephone"}--></td>
	  <td width="15%"><!--{lang_cp str="contact"}--></td>
	  <td width="10%"><!--{lang_cp str="city_tg"}--></td>
	  <td width="15%"><!--{lang_cp str="pubtime"}--></td>
	  <td width="10%"><!--{lang_cp str="operate"}--></td>
    </tr>
	<!--{section name=loop loop=$providelistArr}-->
    <tr class="biaoti">
      <td width="10%"><!--{$providelistArr[loop].id}--></td>
      <td width="10%"><!--{$providelistArr[loop].provide_username}--></td>
	  <td width="20%"><!--{$providelistArr[loop].provide_content}--></td>
	  <td width="10%"><!--{$providelistArr[loop].provide_telphone}--></td>
	  <td width="15%"><!--{$providelistArr[loop].provide_contact}--></td>
	  <td width="10%"><!--{$providelistArr[loop].provide_city}--></td>
	  <td width="15%"><!--{$providelistArr[loop].pubtime|date_format:"Y-m-d H:i"}--></td>
      <td width="10%"><a href="./admin.php?tg=/providecheck/id/<!--{$providelistArr[loop].id}-->">
        <!--{lang_cp str="view"}-->
        </a><a href='./admin.php?tg=/providedelete/id/<!--{$providelistArr[loop].id}-->' onClick="return confirm('<!--{lang_cp str="confirm_delete"}-->')">
        <!--{lang_cp str="del"}-->
        </a></td>
    </tr>
    <!--{/section}-->
    <tr><td colspan="4"><!--{page2html str=$pager}--></td></tr>
  </table>

</form>
</body>
</html>
