<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />

<!--{include file="common/common.html"}-->
<script type="text/javascript">
<!--

$(document).ready(function(){
$("#theform").validate();
});

//-->
</script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" name="theform" id="theform">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2><!--{lang_cp str="add"}--></h2></td>
      <td width="23%" ></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="294" valign="top" class="biaoge"><!--{lang_cp str="mobile"}--></td>
      <td valign="top" align="left"><p>
        <textarea name="mobile" cols="80" rows="20" id="mobile" style="display:;"></textarea>
      </p>
      <p>请用逗号分隔,例如13333333333,15000000000 </p></td>
    </tr>
    <tr>
      <td width="8%" height="214" valign="top" class="biaoge"><label>
        <!--{lang_cp str="content"}-->
        </label></td>
      <td valign="top" align="left">
		<p><br>
	        </p>
		<p>
		  <textarea name="content" cols="80" rows="20" id="send_email" style="display:;"></textarea>
        </p></td>
    </tr>
	<tr height="30">
      <td height="52" valign="top" class="biaoge">&nbsp;</td>
    <td align="left" valign="middle"><input type="submit" id="submit" name="submit" value="<!--{lang_cp str='send'}-->">    </tr>
  </table>
</form>

</body>
</html>
