<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />
<!--{include file="common/common.html"}-->
</head>
<body>
<form method="post" action="" name="theform">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2>
          <!--{lang_cp str="list"}-->
        </h2></td>
      <td width="23%" >
	  <a href="./admin.php?tg=/templateimport/"><!--{lang_cp str="import"}--></a>
	  </td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0">
    
	<tr>
	  <!--{foreach key=k  name=name  item=nums  from=$nums}-->
      <td><p><img src="uploadfiles/pic/<!--{$nums.template_pic}-->" width="130" height="110"></p>
      <p>
	  <!--{$nums.style_name}-->
	  <input name="default" type="radio" value="<!--{$nums.id}-->" <!--{if $nums.template_default eq 1}-->checked<!--{/if}--> >
      <a href="./admin.php?tg=/templateedit/id/<!--{$nums.id}-->"><!--{lang_cp str="editor"}--></a>  <a onClick="return confirm('<!--{lang_cp str="confirm_delete"}-->')" href='./admin.php?tg=/templatedelete/id/<!--{$nums.id}-->'>
        <!--{lang_cp str="del"}-->
      </a>
	  	  
	  </p><br>
	  
	  </td><!--{if $k%4 eq 0}--></tr><tr><!--{/if}-->
      <!--{/foreach}-->
    </tr>
    <tr>
      <td><div align="center">
        <input type="submit" name="submit" value="<!--{lang_cp str="submit"}-->">
      </div></td>
      
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
