<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>管理页面</TITLE>
<link href="templates/admin/css/main_common.css" rel="stylesheet" type="text/css" />
<!--{include file="common/common.html"}-->
<script type="text/javascript">
<!--
 $(document).ready(function(){ 
   $("#table").hide(); 
  if ($("#table").hide()){
	  $("#submit1").click(function(){
		  $("#table").toggle();
	  });  
  }
});  
//-->
</script>
<script type="text/javascript">
<!--

$(document).ready(function(){
$("#theform").validate();
});

//-->
</script>

</head>
<body>
<form action="" method="post" enctype="multipart/form-data" name="theform" id="theform">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="77%" ><h2><!--{lang_cp str="modify"}--></h2></td>
      <td width="23%" ><a href="./admin.php?tg=/userlist/"><!--{lang_cp str="list"}--></a></td>
    </tr>
    <tr>
      <td colspan="2" class="sty"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="20" class="biaoge"><!--{lang_cp str="prepaid"}--></td>
      <td><input name="prepaid" type="text" class="required" id="prepaid" value=""></td>
    </tr>
    
	<tr>
      <td height="52" valign="top" class="biaoge">&nbsp;</td>
      <td align="left" valign="middle"><input type="submit" id="submit" name="submit" value="<!--{lang_cp str='prepaid'}-->">&nbsp;&nbsp;<input type="button" id="submit1" name="select"  value="<!--{lang_cp str='record'}-->"></td>
	  
    </tr>
  </table>
  <table width="600" border="1" id="table" >
  <tr>
    <td><div align="center"><!--{lang_cp str="prepaid"}--><!--{lang_cp str="or"}--><!--{lang_cp str="consumption"}--></div></td>
    <td><div align="center"><!--{lang_cp str="amount"}--></div></td>
    <td><div align="center"><!--{lang_cp str="prepaid_time"}--></div></td>
  </tr>
  <!--{section name=l loop=$detailed}-->
  <tr>
    <!--{if $detailed[l].money_type==0}-->
    <td><div align="center"><!--{lang_cp str="prepaid"}--></div></td>
	<!--{else}-->
	<td><div align="center"><!--{lang_cp str="consumption"}--></div></td>
	<!--{/if}-->
    <td><div align="center"><!--{$detailed[l].money_num}--></div></td>
    <td><div align="center"><!--{$detailed[l].money_time|date_format:"Y-m-d H:i:s"}--></div></td>
  </tr>
  <!--{/section}-->
</table>
</form>


</body>
</html>
