<div class="con_right">
            	<div class="con_right_con01">
                	<div class="con_right_top"></div>
                  <div class="con_right_center">
           	      <p class="font03"><!--{language_cp str="invite"}--></p>
                        <p class="zipic"><img src="<!--{getstaticpath}-->/images/gift.jpg" width="42" height="42" /><span><!--{lang_cp str='yaoqinghuode'}--><strong class="font01">￥10</strong><!--{lang_cp str='fande'}--></span></p>
                    <p><a href="?tg=/index/myfriend" class="font01">&gt;&gt;<!--{lang_cp str='clicklink'}--></a></p>
                    </div>
                    <div class="con_right_bottom"></div>
                </div>
                <div class="con_right_con01">
               	  <div class="con_right_top xzd01"><p class="font05" style="text-indent:12px; line-height:41px;"><!--{lang_cp str='extra'}--></p></div>
                    <div class="xiaofeifei"><img src="<!--{getstaticpath}-->/images/feifei.jpg" /></div>
                  <div class="con_right_center01">
                    <p class="lin"></p>
                     <!--{extra}-->
                        <p class="zipic01" style="text-indent:0px;"><!--{lang_cp str='buymoneycount'}--><!--{language_cp str='agreement_users'}--><!--{language_cp str='accept'}--></p>
                  </div>
                    <div class="con_right_bottom01"></div>
                </div>
                <div class="con_right_con01">
                	<div class="con_right_top"></div>
                  <div class="con_right_center">
       	      		<p class="font03"><!--{language_cp str="postgrouponinfo"}--></p>
                        <p class="zipic01" style="text-indent:0px;"><!--{lang_cp str='taobaomaijia'}-->,<a href="?tg=/index/tigongtuangouxinxi" class="font04"><!--{lang_cp str='clickthere'}--></a></p>
                    </div>
                    <div class="con_right_bottom"></div>
                </div>
                <div class="con_right_con01">
               	  <div class="con_right_top"></div>
                  <div class="con_right_center">
   	      		    <p class="font05 lanbj01 lanbj" style="text-indent:0px;"><!--{lang_cp str="friendlink_manage"}--></p>
                    <p class="lin"></p>
                        <div sizcache="9" sizset="97" class="yqlj" >
<!--{frilink}-->
                        </div>
                  </div>
                    <div class="con_right_bottom"></div>
                </div>
                <div class="con_right_con01">
               	  <div class="con_right_top xzd"></div>
<div class="con_right_center01">
                        <p class="lin"></p>
<p class="kf01"  style="text-indent:0px;"><a href="#" class="font02"><!--{language_cp str="nextdaygroupon"}-->？</a></p>
						
                        <p class="kf01" style="margin-top:5px; text-indent:0px;">
						
							<input name="email" id="email" type="text" class="text01" value="&nbsp;<!--{language_message str='outletemail'}-->..." onFocus="javascript:if(this.value=='&nbsp;<!--{language_message str='outletemail'}-->...') {this.value=''}" />&nbsp;&nbsp;<input name="rss" id="rss" type="submit" class="but01" value="<!--{lang_cp str='subscribe'}-->" onClick=""/>


				
</p>
<p class="kf01 font09" style="margin-top:5px;">
<!--{lang_cp str='jingxi'}-->
							<span class="red">*</span><!--{lang_cp str='serviceclose'}--><br />
                        </p>
                  </div>
                  <div class="con_right_bottom01"></div>
                </div>
            </div>