<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>团购网</title>
<link rel="stylesheet" type="text/css" href="<!--{getstaticpath}-->style/style.css" />
</head>
<body>
<!--头部-->
<!--{include file="common/header.html"}-->
<div class="page">
  <div class="con">
    <div class="con_left wt7">
      <div class="bd_list">
        <ul>
          <li class="current"><a href="?tg=/vip/index"><!--{lang_cp str='vipinfo'}--></a><span></span></li>
          <li><a href="?tg=/vip/shoplist"><!--{lang_cp str='myorder'}--></a> <span></span> </li>
          <li><a href="?tg=/vip/delshoplist"><!--{lang_cp str='delorder'}--></a> <span></span> </li>
          <li><a href="?tg=/vip/addresslist"><!--{lang_cp str='shouaddress'}--></a> <span></span> </li>
          <li><a href="?tg=/vip/updatematerial"><!--{lang_cp str='updatemyinfo'}--></a><span></span></li>
          <li><a href="?tg=/vip/index/logstate/logout"><!--{lang_cp str='logout'}--></a> <span></span></li>
          </ul>
      </div>
      <div class="con_leftop"> </div>
      <div class="con_leftom" style="position:relative;">
        <p style="line-height:25px;"><a href="?tg=/vip/index"><!--{lang_cp str='vipcenterdefaultpage'}--></a> - <!--{lang_cp str='myvipinfo'}--></p>
        <div class="box" style="display:;">
          <p><!--{lang_cp str='username'}-->：<!--{$vip.users_realname}--></p>
          <p><!--{lang_cp str="email"}-->:<!--{$vip.users_email}--></p>
		  <p><!--{lang_cp str='account_balance'}-->:&nbsp;&nbsp;$<!--{$vip.users_money}--></p>
        </div>
        <!--我的订单 start-->
        <div class="box"> </div>
        <!--我的订单 end--
        >
        <!--收货地址薄 start-->
        <div class="box" style="display:none;">
          <table align="center" border="0" width="600">
            <tbody>
              <tr>
                <td><div align="right"><!--{lang_cp str='quyu'}-->：</div></td>
                <td><span id="province_setting">
                  <select id="province" name="province" onchange="getCity(this.options[this.selectedIndex].value)" class="f-city">
                    <option value="0">北京市</option>
                    <option value="1">上海市</option>
                    <option value="2">天津市</option>
                    <option value="3">重庆市</option>
                    <option value="4">河北省</option>
                    <option value="5">山西省</option>
                    <option value="6">内蒙古自治区</option>
                    <option value="7">辽宁省</option>
                    <option value="8">吉林省</option>
                    <option value="9">黑龙江省</option>
                    <option value="10">江苏省</option>
                    <option value="11">浙江省</option>
                    <option value="12">安徽省</option>
                    <option value="13">福建省</option>
                    <option value="14">江西省</option>
                    <option value="15">山东省</option>
                    <option value="16">河南省</option>
                    <option value="17">湖北省</option>
                    <option value="18">湖南省</option>
                    <option value="19">广东省</option>
                    <option value="20">广西壮族自治区</option>
                    <option value="21">海南省</option>
                    <option value="22">四川省</option>
                    <option value="23">贵州省</option>
                    <option value="24">云南省</option>
                    <option value="25">西藏自治区</option>
                    <option value="26">陕西省</option>
                    <option value="27">甘肃省</option>
                    <option value="28">宁夏回族自治区</option>
                    <option value="29">青海省</option>
                    <option value="30">新疆维吾尔族自治区</option>
                    <option value="31">香港特别行政区</option>
                    <option value="32">澳门特别行政区</option>
                    <option value="33">台湾省</option>
                  </select>
                  </span> <!--{lang_cp str='add_province'}-->:
                  <select name="citylist" id="citylist">
                    <option value="0"><!--{lang_cp str='beijing'}--></option>
                  </select>
                  <!--{lang_cp str='city'}--> </td>
              </tr>
              <tr>
                <td><div align="right"><!--{lang_cp str='jiedaodizhi'}-->:</div></td>
                <td><div align="left">
                    <input name="address" type="text">
                  </div></td>
              </tr>
              <tr>
                <td><div align="right"><!--{lang_cp str='zipcode'}-->:</div></td>
                <td><div align="left">
                    <input name="zip" type="text">
                  </div></td>
              </tr>
              <tr>
                <td><div align="right"><!--{lang_cp str='mobile'}-->:</div></td>
                <td><div align="left">
                    <input name="phone" type="text">
                  </div></td>
              </tr>
              <tr>
                <td><div align="right"><!--{lang_cp str='phone'}-->:</div></td>
                <td><div align="left">
                    <input name="telephone" type="text">
                  </div></td>
              </tr>
              <tr>
                <td><div align="right"><!--{lang_cp str='shouhuoren'}-->:</div></td>
                <td><div align="left">
                    <input name="consignee" type="text">
                  </div></td>
              </tr>
              <tr>
                <td><div align="right"></div></td>
                <td><div align="left">
                    <input name="submit" value="<!--{lang_cp str='submit'}-->" type="submit">
                  </div></td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
        </div>
        <!--收货地址薄 end-->
        <!--账户信息 start-->
        <div class="box" style="display:none;">
          <p><!--{lang_cp str='account_balance'}-->:</p>
        </div>
        <!--账户信息 end-->
      </div>
      <div class="con_lefter"> </div>
    </div>
  </div>
</div>
<div class="clera"></div>
<div style=" position:relative;">
<!--底部-->

<!--{include file="common/footer.html"}-->
</body>
</html>
